body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative; 
    height: 100vh; 
    overflow: hidden; 
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.hero-content {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    color: white;
}

.header-content {
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    align-items: center; 
    z-index: 1; 
}

.logo {
    height: 80px;
    width: auto;
    margin-right: 20px; 
}

h1 {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    font-size: 2.5em; 
    color: white;
}

.upload-buttons {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    width: 100%; 
    position: relative; 
    top: 30px; 
}

.upload-buttons button {
    background-color: black;
    color: orangered;
    padding: 20px 30px; 
    margin: 0 15px; 
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease; 
}

.upload-buttons button:hover {
    background-color: white;
    color: black; 
}



.content {
    margin: 0; 
    padding: 0; 
}


.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white; 
    border-radius: 10px; 
    margin: 0;
    padding: 0; 
}

.tab button {
    background-color: #f0f0f0; 
    border: none; 
    outline: none;
    padding: 16px 24px; 
    cursor: pointer;
    color: orangered; 
    margin: 0 10px; 
    font-size: 18px; 
    border-radius: 50px; 
}

.tab button:hover {
    background-color: #ddd; 
}

.tab button.active {
    background-color: black;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 20px;
    background-color: white; 
    border-radius: 10px; 
    margin: 0; 
}

.file-grid {
    display: grid;
    gap: 15px;
    background-color: #f0f0f0; 
    padding: 20px; 
}

/* Grid layout for images */
.file-grid.images {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* Grid layout for videos */
.file-grid.videos {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
}

.file-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.file-grid video {
    border-radius: 10px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    border-radius: 10px;
    overflow: hidden;
    background: #000; 
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px; 
}

.modal-content input {
    padding: 10px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box; 
}

.modal-content button {
    padding: 10px 20px;
    background-color: #42a5f5;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #1e88e5;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.progress-container {
    width: 50%;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 40px;
    position: relative; 
    display: none; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.progress-bar {
    height: 15px; 
    width: 0;
    background-color: orangered;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 15px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    transition: width 0.4s ease-in-out;
}






@keyframes pulse {
    0% {
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
    50% {
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    }
    100% {
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
}


.progress-bar {
    animation: pulse 2s infinite; 
}

.hero {
    margin-bottom: 50px; 
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal img {
    width: 100%;
    height: auto;
}


#passwordSubmit {
    background-color: #000; 
    color: #fff; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

#passwordSubmit:hover {
    background-color: #333; 
    transform: scale(1.05);
}

#passwordSubmit:active {
    background-color: #222; 
}


#passwordInput {
    width: 100%; 
    padding: 12px; /
    border: 2px solid #ccc;
    border-radius: 25px; 
    font-size: 16px; 
    color: #333; 
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#passwordInput:focus {
    border-color: #000; 
    background-color: #fff; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    outline: none; 
}
footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 1px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    box-sizing: border-box;
}
h2 {
    font-family: cursive;
    font-family: sans-serif;
    color: orangered;
    
}
h3 {
    font-family: serif;
    color: white;
    text-align: center;
}
